*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    border: 1px solid #e3ac46;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: black;
    position: fixed;
    width: 90%;
    height: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;  
    margin: 20px 0px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    text-decoration:none;
}
a{
    
    font-family: sans-serif;
    text-decoration: none;
    color:#fac852;
}
h2{
    font-family: serif;
    color: #fac852;
    margin: 20px 0px;
}
.herosec{
    height:900px;
    border-radius: 10px;
    background-image: url(images/WhatsApp\ Image\ 2024-12-23\ at\ 19.15.37_cec48005.jpg);
    background-size: 100% 100%;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 400%;
    line-height: 0px;
    
}
.herosec > .button{
    font-size: large;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #e3ac46;
    padding: 10px;
    animation: appear 0.5s ease-in;
}
@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
    
}
.herosec > .button:hover a{
    background-color: #e3ac46;
    color: black;
    
}
.herosec > .button:hover{
    background-color: #e3ac46;
    border: solid 1px black;

}

.herosec > .bandf{
    font-size: 90px;
    margin-top: 20%;
    gap: 200px;
   -webkit-text-stroke: black 2px;
    color: #e3ac46;
    animation: slidein 0.5s ease-in;
}
@keyframes slidein {
    from {
        transform: translateY(-50%);
      opacity: 0;
    }
  
    to {
        transform:translateY(0%); ;
      opacity: 1;
    }
  }
    

.map{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


iframe{
    border-radius: 10px;
   height: 100%;
   width:100%;
   
}
.elfsight-app-4bed3531-babf-41ff-95f0-edd8c824414b{
    width: 50%;
    padding: 10px;
    margin: 50px 0px;
    
}

.footer{
    background-color: silver;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}
.footer a{
    display: flex;
    font-size: small;
    color: rgb(117, 117, 117);
    text-align: left;
    width: fit-content;
}
.images{

    display: flex;
    justify-content: sp;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 100px;

}
.gallery{
    color: #e3ac46;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.services{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: center;
    padding: 10px;
    align-items: baseline;
    gap: 10px;
    text-align: center;
}

h1{
    font-family: serif;
    color: #e3ac46;
    display: flex;
    justify-content: center;
    padding: 50px;
}
p{
    line-height: 40px;
    font-family: sans-serif;
    text-align: center;
}


.logo{
    text-align: center;
    display: flex;
    line-height: 0;
    align-items: center;
    margin-bottom: 10px;
}
h6{
    font-family: sans-serif;
}
.img{
    object-fit: fill;
    border-radius: 20px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.img1{
    object-fit: fill;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
}
.cards{
    padding: 20px;
}
.cards:hover{
    transform: scale(1.4);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(210, 210, 210);

}
.field{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}
.messagefield{
    width: 50%;
    height: 100px;
    border-radius: 10px;
}
.submitbutton{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: #e3ac46;
    direction: none;
    border: 1px solid #e3ac46;
}
.submitbutton:hover{
    background-color: #e3ac46;
    color: black;
}
.submitbutton:active{
    background-color: black;
    color: #e3ac46;
}
.abouttext{
    margin: 50px 100px;
}

            














@media (max-width: 480px) {
    .navbar{
    border: 1px solid #e3ac46;
    border-radius: 25px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 20px;
    background-color: black;
    position: fixed;
    width: 85%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;  
    margin: 20px 0px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: small;
    text-decoration:none;
}
a{
    
    font-family: sans-serif;
    text-decoration: none;
    color:#fac852;
}
h2{
    font-family: serif;
    color: #fac852;
    font-size: small;
}
.herosec{
    height:600px;
    border-radius: 10px;
    background-image: url(images/WhatsApp\ Image\ 2024-12-23\ at\ 19.15.37_cec48005.jpg);
    background-position: -120px;
    background-size: 170% 110%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
    width: 90%;
}
.herosec > .button{
    font-size: small;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #e3ac46;
    padding: 10px;
    animation: appear 0.5s ease-in;
}
@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
}
.herosec > .button:hover a{
    background-color: #e3ac46;
    color: black;
    
}
.herosec > .button:hover{
    background-color: #e3ac46;
    border: solid 1px black;

}

.herosec > .bandf{
   -webkit-text-stroke: black 0.5px;
    color: #e3ac46;
    font-size: 40px;
    text-align: center;
    width: 100%;
    animation: slidein 0.5s ease-in;
}
@keyframes slidein {
    from {
        transform: translateY(-50%);
      opacity: 0;
    }
  
    to {
        transform:translateY(0%); ;
      opacity: 1;
    }
  }
    

.map{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


iframe{
    border-radius: 10px;
   height: 100%;
   width:100%;
   
}
.elfsight-app-4bed3531-babf-41ff-95f0-edd8c824414b{
    width: 50%;
    padding: 10px;
    margin: 0px 0px;
    
}

.footer{
    background-color: silver;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}
.footer a{
    display: flex;
    font-size: xx-small;
    color: rgb(117, 117, 117);
    text-align: left;
    width: fit-content;
}
.images{

    display: flex;
    justify-content: sp;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 100px;

}
.gallery{
    color: #e3ac46;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.services{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5px;
    align-items: baseline;
    gap: 5px;
    text-align: center;
    
    
}

h1{
    font-family: serif;
    color: #e3ac46;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 25px;
}
p{
    line-height: 30px;
    font-family: sans-serif;
    text-align: center;
}


.logo{
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    line-height: 0;
    
}
h6{
    font-size: 8px;
    font-family: sans-serif;
}
.img{
    object-fit: fill;
    border-radius: 20px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

.img1{
    object-fit: fill;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
}
.cards{
    padding: 20px;
}
.cards:hover{
    transform: scale(1.4);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 0px;
    background-color: rgb(210, 210, 210);

}
.field{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
.messagefield{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.submitbutton{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: #e3ac46;
    direction: none;
    border: 1px solid #e3ac46;
}
.submitbutton:hover{
    background-color: #e3ac46;
    color: black;
}
.submitbutton:active{
    background-color: black;
    color: #e3ac46;
}
.abouttext{
    text-align: center;
    margin: 20px 50px;
}
}
.reviews{
    margin-bottom: 50px;
}













@media (min-width: 481px) and (max-width: 800px ) {
    .navbar{
    border: 1px solid #e3ac46;
    border-radius: 25px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 20px;
    background-color: black;
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;  
    margin: 20px 0px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: medium;
    text-decoration:none;
}
a{
    
    font-family: sans-serif;
    text-decoration: none;
    color:#fac852;
}
h2{
    font-family: serif;
    color: #fac852;
    margin: 20px 0px;
}
.herosec{
    height:600px;
    border-radius: 10px;
    background-image: url(images/WhatsApp\ Image\ 2024-12-23\ at\ 19.15.37_cec48005.jpg);
    background-position: -200px;
    background-size: 160% 120%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
    width: 100%;
}
.herosec > .button{
    font-size: small;
    background-color: black;
    border-radius: 20px;
    border: 1px solid #e3ac46;
    padding: 10px;
    animation: appear 0.5s ease-in;
}
@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
}
.herosec > .button:hover a{
    background-color: #e3ac46;
    color: black;
    
}
.herosec > .button:hover{
    background-color: #e3ac46;
    border: solid 1px black;

}

.herosec > .bandf{
   -webkit-text-stroke: black 0.5px;
    color: #e3ac46;
    font-size: 50px;
    text-align: center;
    width: 100%;
    animation: slidein 0.5s ease-in;
}
    @keyframes slidein {
    from {
        transform: translateY(-50%);
      opacity: 0;
    }
  
    to {
        transform:translateY(0%); ;
      opacity: 1;
    }

}
.map{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
iframe{
    border-radius: 10px;
   height: 100%;
   width:100%;
   
}
.elfsight-app-4bed3531-babf-41ff-95f0-edd8c824414b{
    width: 50%;
    padding: 10px;
    margin: 0px 0px;
    
}
.footer{
    background-color: silver;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}
.footer a{
    display: flex;
    font-size: xx-small;
    color: rgb(117, 117, 117);
    text-align: left;
    width: fit-content;
}
.images{

    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 100px;

}
.gallery{
    color: #e3ac46;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.services{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5px;
    align-items: baseline;
    gap: 5px;
    text-align: center;
    
    
}
h1{
    font-family: serif;
    color: #e3ac46;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
}
p{
    line-height: 30px;
    font-family: sans-serif;
    text-align: center;
}


.logo{
    text-align: center;
    display: flex;
    line-height: 0;
    font-size: small;
    
}
h6{
    font-family: sans-serif;
}
.img{
    object-fit: fill;
    border-radius: 20px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

.img1{
    object-fit: fill;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
}
.cards{
    padding: 20px;
}
.cards:hover{
    transform: scale(1.4);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 0px;
    background-color: rgb(210, 210, 210);

}
.field{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
.messagefield{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.submitbutton{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: #e3ac46;
    direction: none;
    border: 1px solid #e3ac46;
}
.submitbutton:hover{
    background-color: #e3ac46;
    color: black;
}
.submitbutton:active{
    background-color: black;
    color: #e3ac46;
}
.abouttext{
    text-align: center;
    margin: 20px 50px;
}

.reviews{
    margin-bottom: 50px;
}  
}
